
services:
  frontend:
    build:
      context: ./frontend
    container_name: frontend
    networks:
      - appnet
#  backend:
#    build:
#      context: ./volunteer_hub_backend
#    container_name: backend
#    depends_on:
#      db:
#        condition: service_healthy
#    networks:
#      - appnet

networks:
  appnet:
    driver: bridge